/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap");

/* CSS class for oswald

 <weight>: Use a value from 200 to 700
 <uniquifier>: Use a unique and descriptive class name

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

CSS for Lato 
.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

*/
* {
  /* Generic project styles */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
}

/* Header */
header {
  background-color: #fff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

/* Nav Bar styles with dropdown toggle */

nav {
  position: absolute; /* double check how absolute position works */
  background-color: #fff;
  width: 100%;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  left: 0px;
  display: none;
  top: 100%;
}

/* Nav toggle with checkbox pseudoclass */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main content */
main {
  background-color: lightblue;
  /* Make the main element take up any surplus space available pushing the footer down. 
    rememeber that BODY flex-direction is column, so it expand down rather than inline */
  flex: 1 0 auto;
  margin-top: 47px;
}

h1 {
  font-family: "Oswald";
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Footer */
footer {
  background-color: orange;
}

/* Media query: larger than 768px */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
    
  }
}
